NODE_ENV = 'development'
PORT = 8000
MONGODB_URI = 'mongodb://127.0.0.1:27017'
DB_NAME = 'e_commerce'

# cloudinary
CLOUDINARY_API_KEY = 'cloud_api_key',
CLOUDINARY_SECRET_KEY = 'cloud_secret'
CLOUDINARY_CLOUD_NAME = 'cloud_name'

JWT_SECRET=="jjifjlj43542"
JWT_EXPIRY_IN="7d"

//cookie
COOKIE_EXPIRY=7

//nodemailer
SMTP_HOST=
SMTP_PORT=
SMT_SERVICE=
SMTP_USER=
SMTP_PASS=